USE [master]
GO
/****** Object:  Database [doan3]    Script Date: 7/10/2021 11:27:46 PM ******/
CREATE DATABASE [doan3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'doan3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\doan3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'doan3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\doan3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [doan3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [doan3]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/10/2021 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 7/10/2021 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_name] [nvarchar](40) NULL,
	[Phone] [nvarchar](15) NULL,
 CONSTRAINT [PK_dbo.CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICE]    Script Date: 7/10/2021 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE](
	[ID_INVOICE] [int] IDENTITY(1,1) NOT NULL,
	[DATE] [datetime] NOT NULL,
	[TOTAL] [int] NOT NULL,
	[DISCOUNT] [float] NULL,
	[CHARGE] [int] NOT NULL,
	[PRESCRIPTION] [nvarchar](max) NULL,
	[ID_CUSTOMER] [int] NULL,
	[User_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.INVOICE] PRIMARY KEY CLUSTERED 
(
	[ID_INVOICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICE_DETAIL]    Script Date: 7/10/2021 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE_DETAIL](
	[ID_INVOICE] [int] NOT NULL,
	[ID_MEDICINE] [int] NOT NULL,
	[SALE_PRICE] [int] NOT NULL,
	[ORIGINAL_PRICE] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
 CONSTRAINT [PK_dbo.INVOICE_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID_INVOICE] ASC,
	[ID_MEDICINE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LISTMEDICINE]    Script Date: 7/10/2021 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LISTMEDICINE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[medicine_name] [nvarchar](300) NULL,
	[medicine_code] [nvarchar](300) NULL,
	[no_subscribe] [nvarchar](150) NULL,
	[chemicals] [nvarchar](300) NULL,
	[content] [nvarchar](300) NULL,
	[branch] [nvarchar](300) NULL,
 CONSTRAINT [PK_dbo.LISTMEDICINE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICINE]    Script Date: 7/10/2021 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICINE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BARCODE] [nvarchar](10) NULL,
	[MEDICINE_NAME] [nvarchar](350) NULL,
	[MEDICINE_CODE] [nvarchar](20) NULL,
	[LOCATION] [nvarchar](100) NULL,
	[ID_SUB] [nvarchar](15) NULL,
	[INGREDIENT] [nvarchar](350) NULL,
	[CONTENT] [nvarchar](350) NULL,
	[BRAND] [nvarchar](100) NULL,
	[QUANTITY] [int] NOT NULL,
	[ORIGINAL_PRICE] [int] NOT NULL,
	[SALE_PRICE] [int] NOT NULL,
	[DELETED] [bit] NOT NULL,
	[TYPEID] [int] NULL,
	[UNIT_ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MEDICINE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICINE_TYPE]    Script Date: 7/10/2021 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICINE_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.MEDICINE_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHARMACY_PROFILE]    Script Date: 7/10/2021 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHARMACY_PROFILE](
	[PHARMACY_PROFILEID] [int] IDENTITY(1,1) NOT NULL,
	[PharmacyName] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](30) NULL,
	[BusinessHours] [nvarchar](20) NULL,
 CONSTRAINT [PK_dbo.PHARMACY_PROFILE] PRIMARY KEY CLUSTERED 
(
	[PHARMACY_PROFILEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAMPLE]    Script Date: 7/10/2021 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAMPLE](
	[SAMPLEID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[PRESCRIPTION] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SAMPLE] PRIMARY KEY CLUSTERED 
(
	[SAMPLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAMPLE_DETAIL]    Script Date: 7/10/2021 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAMPLE_DETAIL](
	[MEDICINE_ID] [int] NOT NULL,
	[SAMPLE_ID] [int] NOT NULL,
	[QTY] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SAMPLE_DETAIL] PRIMARY KEY CLUSTERED 
(
	[MEDICINE_ID] ASC,
	[SAMPLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STOCK]    Script Date: 7/10/2021 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATE] [datetime] NULL,
	[Name] [nvarchar](40) NULL,
	[NOTE] [nvarchar](150) NULL,
	[PRICETOTAL] [int] NOT NULL,
	[supplierId] [int] NULL,
 CONSTRAINT [PK_dbo.STOCK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STOCK_DETAIL]    Script Date: 7/10/2021 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK_DETAIL](
	[ID_MEDICINE] [int] NOT NULL,
	[ID_STOCK] [int] NOT NULL,
	[ORGIGINAL_PRICE] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[dateExpire] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.STOCK_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID_MEDICINE] ASC,
	[ID_STOCK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 7/10/2021 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[PHONE_NUMBER] [nvarchar](20) NULL,
	[ADDRESS] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](20) NULL,
 CONSTRAINT [PK_dbo.SUPPLIER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNIT]    Script Date: 7/10/2021 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](20) NULL,
 CONSTRAINT [PK_dbo.UNIT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 7/10/2021 11:27:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[DateOfBirth] [datetime] NULL,
	[PHONE] [nvarchar](20) NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[ID_CMND] [nvarchar](20) NULL,
	[USER_NAME] [nvarchar](50) NOT NULL,
	[DELETED] [bit] NOT NULL,
	[PASSWORD] [nvarchar](100) NOT NULL,
	[ROLE] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER] ON 

INSERT [dbo].[CUSTOMER] ([ID], [Customer_name], [Phone]) VALUES (1, N'Ngô Văn Đông', N'077934853')
INSERT [dbo].[CUSTOMER] ([ID], [Customer_name], [Phone]) VALUES (2, N'Nguyễn Minh Đức', N'0293845746')
INSERT [dbo].[CUSTOMER] ([ID], [Customer_name], [Phone]) VALUES (3, N'Koh', N'092348534')
SET IDENTITY_INSERT [dbo].[CUSTOMER] OFF
GO
SET IDENTITY_INSERT [dbo].[INVOICE] ON 

INSERT [dbo].[INVOICE] ([ID_INVOICE], [DATE], [TOTAL], [DISCOUNT], [CHARGE], [PRESCRIPTION], [ID_CUSTOMER], [User_ID]) VALUES (1, CAST(N'2021-06-01T19:16:49.937' AS DateTime), 77500, 0, 77500, N'Uống ngày 2 lần trước khi ăn', 1, 2)
INSERT [dbo].[INVOICE] ([ID_INVOICE], [DATE], [TOTAL], [DISCOUNT], [CHARGE], [PRESCRIPTION], [ID_CUSTOMER], [User_ID]) VALUES (2, CAST(N'2021-05-02T19:18:32.167' AS DateTime), 130000, 0.1, 117000, N'Ngày uống 3 lần', 2, 2)
INSERT [dbo].[INVOICE] ([ID_INVOICE], [DATE], [TOTAL], [DISCOUNT], [CHARGE], [PRESCRIPTION], [ID_CUSTOMER], [User_ID]) VALUES (3, CAST(N'2021-04-06T19:18:52.933' AS DateTime), 120000, 0, 120000, N'', 2, 2)
SET IDENTITY_INSERT [dbo].[INVOICE] OFF
GO
INSERT [dbo].[INVOICE_DETAIL] ([ID_INVOICE], [ID_MEDICINE], [SALE_PRICE], [ORIGINAL_PRICE], [QUANTITY]) VALUES (1, 1, 7500, 6000, 3)
INSERT [dbo].[INVOICE_DETAIL] ([ID_INVOICE], [ID_MEDICINE], [SALE_PRICE], [ORIGINAL_PRICE], [QUANTITY]) VALUES (1, 2, 70000, 60000, 1)
INSERT [dbo].[INVOICE_DETAIL] ([ID_INVOICE], [ID_MEDICINE], [SALE_PRICE], [ORIGINAL_PRICE], [QUANTITY]) VALUES (2, 3, 36000, 30000, 2)
GO
SET IDENTITY_INSERT [dbo].[LISTMEDICINE] ON 

INSERT [dbo].[LISTMEDICINE] ([id], [medicine_name], [medicine_code], [no_subscribe], [chemicals], [content], [branch]) VALUES (1, N'Thevapop', N'DQG00000001', N'VN-10661-10', N'Tinidazole, Miconazole Nitrate, Neomycin Sulphate', N'500mg Tnidazole, 100mg Miconazole nitrate, 20mg Ne', N'Cure Medicines (I) Pvt Ltd')
INSERT [dbo].[LISTMEDICINE] ([id], [medicine_name], [medicine_code], [no_subscribe], [chemicals], [content], [branch]) VALUES (2, N'ELUMATIC III', N'DQG00000002', N'4091/QLD-KD', N'Technectium (Tc99m)', N'Technectium (Tc99m)', N'pháp')
INSERT [dbo].[LISTMEDICINE] ([id], [medicine_name], [medicine_code], [no_subscribe], [chemicals], [content], [branch]) VALUES (3, N'ELUMATIC III', N'DQG00000003', N'4091/QLD-KD', N'Technectium (Tc99m)', N'Technectium (Tc99m)', N'pháp')
GO
SET IDENTITY_INSERT [dbo].[LISTMEDICINE] OFF
GO
SET IDENTITY_INSERT [dbo].[MEDICINE] ON 

INSERT [dbo].[MEDICINE] ([ID], [BARCODE], [MEDICINE_NAME], [MEDICINE_CODE], [LOCATION], [ID_SUB], [INGREDIENT], [CONTENT], [BRAND], [QUANTITY], [ORIGINAL_PRICE], [SALE_PRICE], [DELETED], [TYPEID], [UNIT_ID]) VALUES (1, N'0012347343', N'Thevapop', N'DQG00000001', N'Kệ A', N'VN-10661-10', N'Tinidazole, Miconazole Nitrate, Neomycin Sulphate', N'500mg Tnidazole, 100mg Miconazole nitrate, 20mg Ne', N'Cure Medicines (I) Pvt Ltd', 135, 2000, 2500, 0, 1, 1)
INSERT [dbo].[MEDICINE] ([ID], [BARCODE], [MEDICINE_NAME], [MEDICINE_CODE], [LOCATION], [ID_SUB], [INGREDIENT], [CONTENT], [BRAND], [QUANTITY], [ORIGINAL_PRICE], [SALE_PRICE], [DELETED], [TYPEID], [UNIT_ID]) VALUES (2, N'9348583453', N'ELUMATIC III', N'DQG00000003', N'Kệ C', N'4091/QLD-KD', N'Technectium (Tc99m)', N'Technectium (Tc99m)', N'pháp', 25, 60000, 70000, 0, 2, 4)
INSERT [dbo].[MEDICINE] ([ID], [BARCODE], [MEDICINE_NAME], [MEDICINE_CODE], [LOCATION], [ID_SUB], [INGREDIENT], [CONTENT], [BRAND], [QUANTITY], [ORIGINAL_PRICE], [SALE_PRICE], [DELETED], [TYPEID], [UNIT_ID]) VALUES (3, N'092348534', N'Maltofer Fol', N'DQG00000031', N'Kệ B', N'VN-12427-11', N'Acid folic 0,35mg; Phức hợp sắt (III) hydroxide polymaltose 357mg', N'NAN', N'Vifor SA', 44, 15000, 20000, 0, 3, 2)
SET IDENTITY_INSERT [dbo].[MEDICINE] OFF
GO
SET IDENTITY_INSERT [dbo].[MEDICINE_TYPE] ON 

INSERT [dbo].[MEDICINE_TYPE] ([ID], [TypeName]) VALUES (1, N'Thuốc ho')
INSERT [dbo].[MEDICINE_TYPE] ([ID], [TypeName]) VALUES (2, N'Thuốc sốt')
INSERT [dbo].[MEDICINE_TYPE] ([ID], [TypeName]) VALUES (3, N'Thuốc đau bụng')
SET IDENTITY_INSERT [dbo].[MEDICINE_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[PHARMACY_PROFILE] ON 

INSERT [dbo].[PHARMACY_PROFILE] ([PHARMACY_PROFILEID], [PharmacyName], [Address], [PhoneNumber], [Email], [BusinessHours]) VALUES (1, N'Bình An', N'23 Đống Đa, Đà Nẵng', N'098345374', N'binhan@gmail.com', N'7h- 22h')
SET IDENTITY_INSERT [dbo].[PHARMACY_PROFILE] OFF
GO
SET IDENTITY_INSERT [dbo].[SAMPLE] ON 

INSERT [dbo].[SAMPLE] ([SAMPLEID], [NAME], [PRESCRIPTION]) VALUES (1, N'Thuốc ho cho người lớn', N'Ngày uống hai lần sáng tối, uống trước khi ăn')
INSERT [dbo].[SAMPLE] ([SAMPLEID], [NAME], [PRESCRIPTION]) VALUES (2, N'Thuốc đau bụng trẻ em', N'Ngày uống 3 lần sau mỗi bửa ăn')
SET IDENTITY_INSERT [dbo].[SAMPLE] OFF
GO
INSERT [dbo].[SAMPLE_DETAIL] ([MEDICINE_ID], [SAMPLE_ID], [QTY]) VALUES (2, 1, 1)
INSERT [dbo].[SAMPLE_DETAIL] ([MEDICINE_ID], [SAMPLE_ID], [QTY]) VALUES (2, 2, 1)
INSERT [dbo].[SAMPLE_DETAIL] ([MEDICINE_ID], [SAMPLE_ID], [QTY]) VALUES (3, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[STOCK] ON 

INSERT [dbo].[STOCK] ([ID], [DATE], [Name], [NOTE], [PRICETOTAL], [supplierId]) VALUES (1, CAST(N'2021-06-06T00:00:00.000' AS DateTime), N'Lô ngày 6/6', N'', 2750000, 2)
INSERT [dbo].[STOCK] ([ID], [DATE], [Name], [NOTE], [PRICETOTAL], [supplierId]) VALUES (2, CAST(N'2021-06-06T00:00:00.000' AS DateTime), N'Lô 4/5', N'Kiểm tra lại số lượng', 2472000, 2)
INSERT [dbo].[STOCK] ([ID], [DATE], [Name], [NOTE], [PRICETOTAL], [supplierId]) VALUES (3, CAST(N'2021-06-06T00:00:00.000' AS DateTime), N'Lô 4/4', N'', 2383000, 1)
SET IDENTITY_INSERT [dbo].[STOCK] OFF
GO
INSERT [dbo].[STOCK_DETAIL] ([ID_MEDICINE], [ID_STOCK], [ORGIGINAL_PRICE], [QUANTITY], [dateExpire]) VALUES (1, 1, 2000, 85, CAST(N'2022-06-06T00:00:00.000' AS DateTime))
INSERT [dbo].[STOCK_DETAIL] ([ID_MEDICINE], [ID_STOCK], [ORGIGINAL_PRICE], [QUANTITY], [dateExpire]) VALUES (1, 2, 2000, 50, CAST(N'2021-12-23T00:00:00.000' AS DateTime))
INSERT [dbo].[STOCK_DETAIL] ([ID_MEDICINE], [ID_STOCK], [ORGIGINAL_PRICE], [QUANTITY], [dateExpire]) VALUES (2, 1, 60000, 25, CAST(N'2023-06-06T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[SUPPLIER] ON 

INSERT [dbo].[SUPPLIER] ([ID], [NAME], [PHONE_NUMBER], [ADDRESS], [EMAIL]) VALUES (1, N'Trường Minh', N'0934858734', N'344 Trường Chinh', N'truongminh@gmail.com')
INSERT [dbo].[SUPPLIER] ([ID], [NAME], [PHONE_NUMBER], [ADDRESS], [EMAIL]) VALUES (2, N'VinMecdi', N'012843985', N'23 Lê Lợi', N'vinasdf@gmail.com')
SET IDENTITY_INSERT [dbo].[SUPPLIER] OFF
GO
SET IDENTITY_INSERT [dbo].[UNIT] ON 

INSERT [dbo].[UNIT] ([ID], [NAME]) VALUES (1, N'Viên')
INSERT [dbo].[UNIT] ([ID], [NAME]) VALUES (2, N'Vĩ')
INSERT [dbo].[UNIT] ([ID], [NAME]) VALUES (3, N'Hộp')
SET IDENTITY_INSERT [dbo].[UNIT] OFF
GO
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([ID], [NAME], [DateOfBirth], [PHONE], [ADDRESS], [ID_CMND], [USER_NAME], [DELETED], [PASSWORD], [ROLE]) VALUES (1, N'Ngô Văn Đông', CAST(N'2021-06-06T18:45:32.437' AS DateTime), N'0935351453', N'k144 Nguyễn Lương Bằng', NULL, N'admin1', 0, N'$2a$12$0iSplYFIdfT1jumcE0Akhe5eNvMKDIFjfmj0NsgOMaxVCiM7eYupa', 1)
INSERT [dbo].[USER] ([ID], [NAME], [DateOfBirth], [PHONE], [ADDRESS], [ID_CMND], [USER_NAME], [DELETED], [PASSWORD], [ROLE]) VALUES (2, N'Nguyễn Minh Đức', CAST(N'2021-06-06T18:45:32.437' AS DateTime), N'0935351453', N'k144 Nguyễn Lương Bằng', NULL, N'staff1', 0, N'$2a$12$0iSplYFIdfT1jumcE0Akhe5eNvMKDIFjfmj0NsgOMaxVCiM7eYupa', 0)
INSERT [dbo].[USER] ([ID], [NAME], [DateOfBirth], [PHONE], [ADDRESS], [ID_CMND], [USER_NAME], [DELETED], [PASSWORD], [ROLE]) VALUES (3, N'Koh', CAST(N'2021-05-13T19:46:45.067' AS DateTime), N'0934858345', N'k82 Nguyễn Lương Bằng, Đà Nẵng', N'2349823485', N'koh', 0, N'$2a$12$s.T.S9zBlvlV3CPRr0Ts6ODAR4CEChGKi.ShSlv.sWGTVYpHiwpRq', 0)
SET IDENTITY_INSERT [dbo].[USER] OFF
GO
/****** Object:  Index [IX_ID_CUSTOMER]    Script Date: 7/10/2021 11:27:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_ID_CUSTOMER] ON [dbo].[INVOICE]
(
	[ID_CUSTOMER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_ID]    Script Date: 7/10/2021 11:27:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_ID] ON [dbo].[INVOICE]
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ID_MEDICINE_ID_INVOICE]    Script Date: 7/10/2021 11:27:46 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ID_MEDICINE_ID_INVOICE] ON [dbo].[INVOICE_DETAIL]
(
	[ID_MEDICINE] ASC,
	[ID_INVOICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BARCODE]    Script Date: 7/10/2021 11:27:46 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_BARCODE] ON [dbo].[MEDICINE]
(
	[BARCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MEDICINE_CODE]    Script Date: 7/10/2021 11:27:46 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MEDICINE_CODE] ON [dbo].[MEDICINE]
(
	[MEDICINE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TYPEID]    Script Date: 7/10/2021 11:27:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_TYPEID] ON [dbo].[MEDICINE]
(
	[TYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UNIT_ID]    Script Date: 7/10/2021 11:27:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_UNIT_ID] ON [dbo].[MEDICINE]
(
	[UNIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MEDICINE_ID]    Script Date: 7/10/2021 11:27:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_MEDICINE_ID] ON [dbo].[SAMPLE_DETAIL]
(
	[MEDICINE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SAMPLE_ID]    Script Date: 7/10/2021 11:27:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_SAMPLE_ID] ON [dbo].[SAMPLE_DETAIL]
(
	[SAMPLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_supplierId]    Script Date: 7/10/2021 11:27:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_supplierId] ON [dbo].[STOCK]
(
	[supplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ID_MEDICINE]    Script Date: 7/10/2021 11:27:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_ID_MEDICINE] ON [dbo].[STOCK_DETAIL]
(
	[ID_MEDICINE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ID_STOCK]    Script Date: 7/10/2021 11:27:46 PM ******/
CREATE NONCLUSTERED INDEX [IX_ID_STOCK] ON [dbo].[STOCK_DETAIL]
(
	[ID_STOCK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.INVOICE_dbo.CUSTOMER_ID_CUSTOMER] FOREIGN KEY([ID_CUSTOMER])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
ALTER TABLE [dbo].[INVOICE] CHECK CONSTRAINT [FK_dbo.INVOICE_dbo.CUSTOMER_ID_CUSTOMER]
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.INVOICE_dbo.USER_User_ID] FOREIGN KEY([User_ID])
REFERENCES [dbo].[USER] ([ID])
GO
ALTER TABLE [dbo].[INVOICE] CHECK CONSTRAINT [FK_dbo.INVOICE_dbo.USER_User_ID]
GO
ALTER TABLE [dbo].[INVOICE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_dbo.INVOICE_DETAIL_dbo.INVOICE_ID_INVOICE] FOREIGN KEY([ID_INVOICE])
REFERENCES [dbo].[INVOICE] ([ID_INVOICE])
GO
ALTER TABLE [dbo].[INVOICE_DETAIL] CHECK CONSTRAINT [FK_dbo.INVOICE_DETAIL_dbo.INVOICE_ID_INVOICE]
GO
ALTER TABLE [dbo].[INVOICE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_dbo.INVOICE_DETAIL_dbo.MEDICINE_ID_MEDICINE] FOREIGN KEY([ID_MEDICINE])
REFERENCES [dbo].[MEDICINE] ([ID])
GO
ALTER TABLE [dbo].[INVOICE_DETAIL] CHECK CONSTRAINT [FK_dbo.INVOICE_DETAIL_dbo.MEDICINE_ID_MEDICINE]
GO
ALTER TABLE [dbo].[MEDICINE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MEDICINE_dbo.MEDICINE_TYPE_TYPEID] FOREIGN KEY([TYPEID])
REFERENCES [dbo].[MEDICINE_TYPE] ([ID])
GO
ALTER TABLE [dbo].[MEDICINE] CHECK CONSTRAINT [FK_dbo.MEDICINE_dbo.MEDICINE_TYPE_TYPEID]
GO
ALTER TABLE [dbo].[MEDICINE]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MEDICINE_dbo.UNIT_UNIT_ID] FOREIGN KEY([UNIT_ID])
REFERENCES [dbo].[UNIT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MEDICINE] CHECK CONSTRAINT [FK_dbo.MEDICINE_dbo.UNIT_UNIT_ID]
GO
ALTER TABLE [dbo].[SAMPLE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SAMPLE_DETAIL_dbo.MEDICINE_MEDICINE_ID] FOREIGN KEY([MEDICINE_ID])
REFERENCES [dbo].[MEDICINE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SAMPLE_DETAIL] CHECK CONSTRAINT [FK_dbo.SAMPLE_DETAIL_dbo.MEDICINE_MEDICINE_ID]
GO
ALTER TABLE [dbo].[SAMPLE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SAMPLE_DETAIL_dbo.SAMPLE_SAMPLE_ID] FOREIGN KEY([SAMPLE_ID])
REFERENCES [dbo].[SAMPLE] ([SAMPLEID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SAMPLE_DETAIL] CHECK CONSTRAINT [FK_dbo.SAMPLE_DETAIL_dbo.SAMPLE_SAMPLE_ID]
GO
ALTER TABLE [dbo].[STOCK]  WITH CHECK ADD  CONSTRAINT [FK_dbo.STOCK_dbo.SUPPLIER_supplierId] FOREIGN KEY([supplierId])
REFERENCES [dbo].[SUPPLIER] ([ID])
GO
ALTER TABLE [dbo].[STOCK] CHECK CONSTRAINT [FK_dbo.STOCK_dbo.SUPPLIER_supplierId]
GO
ALTER TABLE [dbo].[STOCK_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_dbo.STOCK_DETAIL_dbo.MEDICINE_ID_MEDICINE] FOREIGN KEY([ID_MEDICINE])
REFERENCES [dbo].[MEDICINE] ([ID])
GO
ALTER TABLE [dbo].[STOCK_DETAIL] CHECK CONSTRAINT [FK_dbo.STOCK_DETAIL_dbo.MEDICINE_ID_MEDICINE]
GO
ALTER TABLE [dbo].[STOCK_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_dbo.STOCK_DETAIL_dbo.STOCK_ID_STOCK] FOREIGN KEY([ID_STOCK])
REFERENCES [dbo].[STOCK] ([ID])
GO
ALTER TABLE [dbo].[STOCK_DETAIL] CHECK CONSTRAINT [FK_dbo.STOCK_DETAIL_dbo.STOCK_ID_STOCK]
GO
USE [master]
GO
