USE [master]
GO
/****** Object:  Database [doan3]    Script Date: 4/9/2021 7:01:39 PM ******/
CREATE DATABASE [doan3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'doan3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\doan3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'doan3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\doan3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [doan3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [doan3]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 4/9/2021 7:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[ID] [nvarchar](10) NOT NULL,
	[Customer_name] [nvarchar](40) NULL,
	[Phone] [nvarchar](15) NULL,
 CONSTRAINT [PK__CUSTOMER__3214EC27EC338202] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICE]    Script Date: 4/9/2021 7:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE](
	[ID_INVOICE] [nvarchar](10) NOT NULL,
	[DATE] [nchar](10) NULL,
	[ID_CUSTOMER] [nvarchar](10) NOT NULL,
	[ID_STAFF] [nvarchar](10) NOT NULL,
	[TOTAL] [int] NULL,
	[DISCOUNT] [float] NULL,
	[PRESCRIPTION] [nvarchar](max) NULL,
 CONSTRAINT [PK_INVOICE] PRIMARY KEY CLUSTERED 
(
	[ID_INVOICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICE_DETAIL]    Script Date: 4/9/2021 7:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICE_DETAIL](
	[ID] [nvarchar](10) NOT NULL,
	[ID_INVOICE] [nvarchar](10) NOT NULL,
	[ID_MEDICINE] [nvarchar](10) NOT NULL,
	[SALE_PRICE] [int] NULL,
	[QUANTITY] [int] NULL,
 CONSTRAINT [PK_INVOICE_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICINE]    Script Date: 4/9/2021 7:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICINE](
	[ID] [nvarchar](10) NOT NULL,
	[BARCODE] [nvarchar](10) NULL,
	[MEDICINE_NAME] [nvarchar](350) NULL,
	[TYPEID] [nvarchar](10) NULL,
	[LOCATION] [nvarchar](100) NULL,
	[ID_SUB] [nvarchar](15) NULL,
	[INGREDIENT] [nvarchar](350) NULL,
	[CONTENT] [nvarchar](350) NULL,
	[BRAND] [nvarchar](100) NULL,
	[UNIT_ID] [nvarchar](10) NULL,
	[QUANTITY] [int] NULL,
	[ORIGINAL_PRICE] [int] NULL,
	[SALE_PRICE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICINE_TYPE]    Script Date: 4/9/2021 7:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICINE_TYPE](
	[ID] [nvarchar](10) NOT NULL,
	[TypeName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 4/9/2021 7:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[ID] [nvarchar](10) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[AGE] [int] NULL,
	[PHONE] [nchar](15) NULL,
	[ADDRESS] [nchar](100) NULL,
	[IMAGE] [image] NULL,
	[ID_CMND] [nchar](10) NULL,
	[USER_NAME] [nchar](20) NOT NULL,
	[PASSWORD] [nchar](20) NOT NULL,
 CONSTRAINT [PK_STAFF] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STOCK]    Script Date: 4/9/2021 7:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK](
	[ID] [nchar](10) NOT NULL,
	[DATE] [datetime] NULL,
	[SUPPLIERNAME] [nvarchar](100) NULL,
	[NOTE] [text] NULL,
	[PRICETOTAL] [int] NULL,
 CONSTRAINT [PK_STOCK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STOCK_DETAIL]    Script Date: 4/9/2021 7:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK_DETAIL](
	[ID] [nvarchar](10) NOT NULL,
	[ID_STOCK] [nchar](10) NOT NULL,
	[ID_MEDICINE] [nvarchar](10) NOT NULL,
	[ORGIGINAL_PRICE] [int] NULL,
	[QUANTITY] [int] NULL,
	[NAME] [nvarchar](20) NULL,
 CONSTRAINT [PK__STOCK__3214EC2753778D68] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNIT]    Script Date: 4/9/2021 7:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIT](
	[ID] [nvarchar](10) NOT NULL,
	[NAME] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_CUSTOMER] FOREIGN KEY([ID_CUSTOMER])
REFERENCES [dbo].[CUSTOMER] ([ID])
GO
ALTER TABLE [dbo].[INVOICE] CHECK CONSTRAINT [FK_INVOICE_CUSTOMER]
GO
ALTER TABLE [dbo].[INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_STAFF] FOREIGN KEY([ID_STAFF])
REFERENCES [dbo].[STAFF] ([ID])
GO
ALTER TABLE [dbo].[INVOICE] CHECK CONSTRAINT [FK_INVOICE_STAFF]
GO
ALTER TABLE [dbo].[INVOICE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_DETAIL_INVOICE] FOREIGN KEY([ID_INVOICE])
REFERENCES [dbo].[INVOICE] ([ID_INVOICE])
GO
ALTER TABLE [dbo].[INVOICE_DETAIL] CHECK CONSTRAINT [FK_INVOICE_DETAIL_INVOICE]
GO
ALTER TABLE [dbo].[INVOICE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_INVOICE_DETAIL_MEDICINE] FOREIGN KEY([ID_MEDICINE])
REFERENCES [dbo].[MEDICINE] ([ID])
GO
ALTER TABLE [dbo].[INVOICE_DETAIL] CHECK CONSTRAINT [FK_INVOICE_DETAIL_MEDICINE]
GO
ALTER TABLE [dbo].[MEDICINE]  WITH CHECK ADD  CONSTRAINT [FK_MEDICINE_MEDICINE_TYPE] FOREIGN KEY([TYPEID])
REFERENCES [dbo].[MEDICINE_TYPE] ([ID])
GO
ALTER TABLE [dbo].[MEDICINE] CHECK CONSTRAINT [FK_MEDICINE_MEDICINE_TYPE]
GO
ALTER TABLE [dbo].[MEDICINE]  WITH CHECK ADD  CONSTRAINT [FK_MEDICINE_UNIT] FOREIGN KEY([UNIT_ID])
REFERENCES [dbo].[UNIT] ([ID])
GO
ALTER TABLE [dbo].[MEDICINE] CHECK CONSTRAINT [FK_MEDICINE_UNIT]
GO
ALTER TABLE [dbo].[STOCK_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_STOCKDETAIL_MEDICINE] FOREIGN KEY([ID_MEDICINE])
REFERENCES [dbo].[MEDICINE] ([ID])
GO
ALTER TABLE [dbo].[STOCK_DETAIL] CHECK CONSTRAINT [FK_STOCKDETAIL_MEDICINE]
GO
ALTER TABLE [dbo].[STOCK_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_STOCKDETAIL_STOCK] FOREIGN KEY([ID_STOCK])
REFERENCES [dbo].[STOCK] ([ID])
GO
ALTER TABLE [dbo].[STOCK_DETAIL] CHECK CONSTRAINT [FK_STOCKDETAIL_STOCK]
GO
USE [master]
GO
